name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  ci:
    runs-on: ubuntu-latest
    services:
      databend:
        # image: datafuselabs/databend-query
        image: datafuselabs/databend
        env:
          QUERY_DEFAULT_USER: databend
          QUERY_DEFAULT_PASSWORD: databend
          MINIO_ENABLED: true
        ports:
          - 8000:8000
          - 9000:9000
      # Using Confluent Platform images
      # Bitnami images were deprecated and moved to commercial-only model
      zookeeper:
        image: confluentinc/cp-zookeeper:7.6.1
        ports:
          - 2181:2181
        env:
          ZOOKEEPER_CLIENT_PORT: 2181
          ZOOKEEPER_TICK_TIME: 2000
      kafka:
        image: confluentinc/cp-kafka:7.6.1
        ports:
          - 9092:9092
        env:
          KAFKA_BROKER_ID: 1
          KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
          KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
          KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
          KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
          KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
          KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
          KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
          KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
          KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Verify Service Running
        run: |
          sleep 60
          cid=$(docker ps -a | grep databend | cut -d' ' -f1)
          docker logs ${cid}
          cid=$(docker ps -a | grep kafka | cut -d' ' -f1)
          docker logs ${cid}
          netstat -nlp
          curl -v http://localhost:8000/v1/health

      - name: Test
        env:
          TEST_DATABEND_DSN: "http://databend:databend@localhost:8000/default"
          TEST_KAFKA_BROKER: "localhost:9092"
        run: |
          go test -v -p 1 -cover ./...
